* {
  box-sizing: border-box;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-size: 14px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  /* background-color: #fdb3a5; */
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

img {
  border-style: none;
}

button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

.layout {
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 0.5rem;
  padding-right: 0.5rem; */
}

@media (min-width: 768px) {
  .layout {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 992px) {
  .layout {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* ### custom nprogress ### */
/* Make clicks pass-through */
#nprogress .bar {
  background: #ff5fa2 !important;
}

/* Fancy blur effect */
#nprogress .peg {
  box-shadow: 0 0 10px #ff5fa2, 0 0 5px #ff5fa2 !important;
}

#nprogress .spinner-icon {
  border-top-color: #ff5fa2 !important;
  border-left-color: #ff5fa2 !important;
}
/* ### end custom nprogress ### */